In [1]:
a=set([1,2,3,4,5,4]) # set은 중복된 값을 자동으로 제거해줌.
a

{1, 2, 3, 4, 5}

#### import pandas as pd  
ㄴ 불필요한 요소까지 모두 불러오며, 경로 지정을 통한 간접사용
#### from pandas import Series, DataFrame  
ㄴ 필요한 요소만 지정해 불러올 수 있어 메모리 관리 측면에 이득, 직접 사용 가능

In [4]:
from pandas import Series, DataFrame

In [5]:
score = Series([1000,2000,3000,4000,5000])
print(score)

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [6]:
score[3]

4000

In [8]:
score=Series([1000,2000,3000],
            index=['2020-10-04','2020-10-05','2020-10-03'])
print(score)

2020-10-04    1000
2020-10-05    2000
2020-10-03    3000
dtype: int64

In [11]:
score['2020-10-04':'2020-10-03']

2020-10-04    1000
2020-10-05    2000
2020-10-03    3000
dtype: int64

In [10]:
for idx in score.index:
    print(idx)

2020-10-04
2020-10-05
2020-10-03

In [12]:
for idx in score.values:
    print(idx)

1000
2000
3000

In [13]:
print(type(score))

<class 'pandas.core.series.Series'>

In [14]:
print(type(score.values))

<class 'numpy.ndarray'>

In [15]:
dat={ 'col1':[1,2,3,4],
    'col2' : [10,20,30,40],
    'col3' : ['A','B','C','D']}
df=DataFrame(dat)
df

   col1  col2 col3
0     1    10    A
1     2    20    B
2     3    30    C
3     4    40    D

In [20]:
score1=Series([1000,2000,3000],
            index=['2020-10-04','2020-10-05','2020-10-03'])
score2=Series([1000,2000,3000],
            index=['2020-10-01','2020-10-02','2020-10-06'])
print(type(score1))
score1+score2

<class 'pandas.core.series.Series'>

2020-10-01   NaN
2020-10-02   NaN
2020-10-03   NaN
2020-10-04   NaN
2020-10-05   NaN
2020-10-06   NaN
dtype: float64