In [1]:
a=set([1,2,3,4,5,4]) # set은 중복된 값을 자동으로 제거해줌.
a

{1, 2, 3, 4, 5}

#### import pandas as pd  
ㄴ 불필요한 요소까지 모두 불러오며, 경로 지정을 통한 간접사용
#### from pandas import Series, DataFrame  
ㄴ 필요한 요소만 지정해 불러올 수 있어 메모리 관리 측면에 이득, 직접 사용 가능

In [4]:
from pandas import Series, DataFrame

In [5]:
score = Series([1000,2000,3000,4000,5000])
print(score)

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [6]:
score[3]

4000

In [8]:
score=Series([1000,2000,3000],
            index=['2020-10-04','2020-10-05','2020-10-03'])
print(score)

2020-10-04    1000
2020-10-05    2000
2020-10-03    3000
dtype: int64

In [11]:
score['2020-10-04':'2020-10-03']

2020-10-04    1000
2020-10-05    2000
2020-10-03    3000
dtype: int64

In [10]:
for idx in score.index:
    print(idx)

2020-10-04
2020-10-05
2020-10-03

In [12]:
for idx in score.values:
    print(idx)

1000
2000
3000

In [13]:
print(type(score))

<class 'pandas.core.series.Series'>

In [14]:
print(type(score.values))

<class 'numpy.ndarray'>

In [15]:
dat={ 'col1':[1,2,3,4],
    'col2' : [10,20,30,40],
    'col3' : ['A','B','C','D']}
df=DataFrame(dat)
df

   col1  col2 col3
0     1    10    A
1     2    20    B
2     3    30    C
3     4    40    D

In [22]:
score1=Series([1000,2000,3000],
            index=['2020-10-04','2020-10-05','2020-10-03'])
score2=Series([1000,2000,3000],
            index=['2020-10-01','2020-10-02','2020-10-06'])
print(type(score1))
print(score1.add(score2,fill_value=0))

<class 'pandas.core.series.Series'>
2020-10-01    1000.0
2020-10-02    2000.0
2020-10-03    3000.0
2020-10-04    1000.0
2020-10-05    2000.0
2020-10-06    3000.0
dtype: float64

In [23]:
print('pandas 버전 : ', pd.__version__)

pandas 버전 :  1.0.5

### 실습 2-1 시리즈 만들어보기
* 5일간의 걸음 수를 시리즈 자료형으로 만들어보자.

In [25]:
walks=Series([6205, 5430, 9263, 3470, 8464],
            index=['2020.10.03.','2020.10.04.','2020.10.05.','2020.10.06.','2020.10.07.'])
print(walks)

2020.10.03.    6205
2020.10.04.    5430
2020.10.05.    9263
2020.10.06.    3470
2020.10.07.    8464
dtype: int64

In [29]:
print(walks.index)

Index(['2020.10.03.', '2020.10.04.', '2020.10.05.', '2020.10.06.',
       '2020.10.07.'],
      dtype='object')

In [30]:
print(walks.values)

[6205 5430 9263 3470 8464]

In [31]:
print(walks.dtype)

int64

### 실습 2-2
* 2명의 5일간의 걸음수를 시리즈로 만들어 두 시리즈를 더해보자.
 * 사람1 : 2020.10.03 ~ 2020.10.07
 * 사람2 : 2020.10.01 ~ 2020.10.05

In [34]:
from pandas import Series
walks1=Series([6205, 5430, 9263, 3470, 8464],
            index=['2020.10.03.','2020.10.04.','2020.10.05.','2020.10.06.','2020.10.07.'])
walks2=Series([1556, 1038, 7460, 9379, 7869],
             index=['2020.10.01','2020.10.02.','2020.10.03.','2020.10.04.','2020.10.05.'])

new_walks=walks1.add(walks2, fill_value=0)
print(new_walks)

2020.10.01      1556.0
2020.10.02.     1038.0
2020.10.03.    13665.0
2020.10.04.    14809.0
2020.10.05.    17132.0
2020.10.06.     3470.0
2020.10.07.     8464.0
dtype: float64

In [35]:
dat={'col1' : [1,2,3,4],
    'col2' : [10,20,30,40],
    'col3' : ['A','B','C','D']}
df=DataFrame(dat)
df

   col1  col2 col3
0     1    10    A
1     2    20    B
2     3    30    C
3     4    40    D

### 실습 2-3
* 4개의 팀이 있다. 4일간 각 팀의 팀별점수를 넣어 데이터 프레임 만들기
* 같은 날짜로 해주기

In [36]:
from pandas import *
team_score={'team1' : [9,4,3,5],
           'team2' : [7,5,8,3],
           'team3' : [7,7,5,4],
           'team4' : [8,7,6,4]}

In [42]:
days=date_range('2019-10-05',periods=4)

team_df=DataFrame(team_score, index=days)
team_df

            team1  team2  team3  team4
2019-10-05      9      7      7      8
2019-10-06      4      5      7      7
2019-10-07      3      8      5      6
2019-10-08      5      3      4      4