In [20]:
# 필요 라이브러리 및 파일 불러오기
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from matplotlib import *
import seaborn as sns

train = pd.read_csv("california_housing_train.csv") 
test = pd.read_csv("california_housing_test.csv")

In [21]:
# 새로운 컬럼 room_level
train.loc[train['total_rooms'] > 3151 , 'room_level'] = 1
train.loc[(train['total_rooms'] > 2127) & (train['total_rooms'] <= 3151) , 'room_level'] = 2
train.loc[(train['total_rooms'] > 1462) & (train['total_rooms'] <= 2127) , 'room_level'] = 3
train.loc[train['total_rooms'] <= 1462 , 'room_level'] = 4
train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,room_level
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,1.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,1.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,4.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,3.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,4.0
...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,2.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,2.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,2.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,2.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,3.0

In [22]:
train.groupby("room_level").mean()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
room_level,,,,,,,,,
1.0,-119.465031,35.534266,21.170353,5239.102824,1021.755529,2583.846118,938.221647,4.475522,234228.251529
2.0,-119.617384,35.660367,28.872145,2581.885566,534.408524,1410.986814,499.978338,4.015815,217781.638568
3.0,-119.570760,35.611163,31.580137,1785.842551,381.460814,1065.313250,359.089668,3.705447,198040.686514
4.0,-119.595268,35.695059,32.731782,969.157264,220.278091,658.776211,207.839915,3.338093,179184.754349

In [23]:
train.groupby("room_level").sum()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
room_level,,,,,,,,,
1.0,-507726.38,151020.63,89974.0,22266187.0,4342461.0,10981346.0,3987442.0,19020.9692,995470069.0
2.0,-508015.03,151449.58,122620.0,10965268.0,2269633.0,5992461.0,2123408.0,17055.1645,924918619.0
3.0,-508056.16,151311.83,134184.0,7588045.0,1620827.0,4526516.0,1525772.0,15744.4449,841474877.0
4.0,-508758.27,151846.78,139241.0,4122795.0,937063.0,2802434.0,884151.0,14200.2491,762251945.0

In [24]:
train.groupby("room_level").max()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
room_level,,,,,,,,,
1.0,-114.31,41.86,52.0,37937.0,6445.0,35682.0,6082.0,15.0001,500001.0
2.0,-114.58,41.95,52.0,3151.0,1944.0,5756.0,1605.0,15.0001,500001.0
3.0,-114.57,41.95,52.0,2127.0,1176.0,4731.0,1137.0,15.0001,500001.0
4.0,-114.56,41.82,52.0,1462.0,864.0,8733.0,784.0,15.0001,500001.0

### 실습. housing_median_age 컬럼 활용한 새로운 column 만들기
* 나이대별로 그룹 나누기 (4그룹) 25%, 50%, 75% (describe())
* 특징(feature)를 만든다
* groupby를 이용해서 값을 확인해보고, 그래프로 시각화 시켜보기

In [25]:
train.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'room_level'],
      dtype='object')

In [26]:
train['housing_median_age'].describe()

count    17000.000000
mean        28.589353
std         12.586937
min          1.000000
25%         18.000000
50%         29.000000
75%         37.000000
max         52.000000
Name: housing_median_age, dtype: float64

In [27]:
train.loc[train['housing_median_age'] > 37 , 'age_level'] = 4
train.loc[(train['housing_median_age'] > 29) & (train['housing_median_age'] <= 37) , 'age_level'] = 3
train.loc[(train['housing_median_age'] > 18) & (train['housing_median_age'] <= 29) , 'age_level'] = 2
train.loc[train['housing_median_age'] <= 18 , 'age_level'] = 1
train.groupby('age_level').max()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,room_level
age_level,,,,,,,,,,
1.0,-114.31,41.95,18.0,37937.0,6445.0,35682.0,6082.0,15.0001,500001.0,4.0
2.0,-114.47,41.95,29.0,17738.0,4457.0,12427.0,4204.0,15.0001,500001.0,4.0
3.0,-114.59,41.79,37.0,14556.0,2961.0,9879.0,2769.0,15.0001,500001.0,4.0
4.0,-114.59,41.78,52.0,8193.0,2747.0,7443.0,2538.0,15.0001,500001.0,4.0

In [28]:
sns.boxplot(x='age_level', y='housing_median_age')

ValueError: Could not interpret input 'age_level'