In [1]:
import pandas as pd 
import numpy as np 
import os

In [2]:
train = pd.read_csv("train.csv", parse_dates=['datetime'])
test = pd.read_csv("test.csv", parse_dates=['datetime'])
sub = pd.read_csv("sampleSubmission.csv", parse_dates=['datetime'])

In [3]:
print(train.shape)   # 행과 열 갯수 확인

(10886, 12)

In [4]:
print(test.shape)    #

(6493, 9)

In [5]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

In [7]:
f_names = ['temp', 'atemp']
X_train = train[f_names]    # 학습용 데이터의 변수 선택 
X_test = test[f_names]      # 테스트 데이터의 변수 선택 
label_name = 'count'        # 렌탈 대수 (종속변수)
y_train = train[label_name] # 렌탈 대수 변수 값 선택

In [8]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
model.predict(X_test)   # 예측(새로운 데이터로)

array([101.95625474, 104.0156171 , 104.0156171 , ..., 103.33067499,
       104.0156171 , 104.0156171 ])

In [9]:
print( model.coef_ )       # 모델(선형회귀의 계수)
print( model.intercept_)   # 모델(선형 회귀의 교차점)
sub.head()

[8.19865874 0.90720808]
4.248132645803736

             datetime  count
0 2011-01-20 00:00:00      0
1 2011-01-20 01:00:00      0
2 2011-01-20 02:00:00      0
3 2011-01-20 03:00:00      0
4 2011-01-20 04:00:00      0

In [10]:
sub.to_csv("firstsubmission.csv", index=False)

In [16]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()
model.fit(X_train, y_train)
pred = model.predict(X_test)   # 예측
sub['count'] = pred

In [17]:
# 처음 만는 제출용 csv 파일, 행번호를 없애기
sub.to_csv("secondSub.csv", index=False)

In [19]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)

pred = model.predict(X_test)   # 예측
sub['count'] = pred

sub.to_csv("thirdSub.csv", index=False)

In [20]:
from sklearn.neighbors import KNeighborsRegressor

model = KNeighborsRegressor()
model.fit(X_train, y_train)

pred = model.predict(X_test)   # 예측
sub['count'] = pred

sub.to_csv("fourSub.csv", index=False)