In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('student.db')
conn

In [3]:
sql='''
 CREATE TABLE student
 (
 name text,
 no integer,
 addr text,
 gender text
 )
'''

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student")
c.execute(sql)
c.close()

## 여러개의 데이터를 넣고 조회하기

In [5]:
sql='''
 INSERT INTO student VALUES
 (?, ?, ?, ?)
'''

c=conn.cursor()
c.execute(sql, ('학생2', 2, '안양', 'female'))

## 여러개 데이터 넣기
data=[
    ('학생3', 3, '경기도', 'female'), 
    ('학생4', 4, '춘천', 'female'), 
    ('학생5', 5, '대구', 'male')
]

c.executemany(sql, data)
c.close()
conn.commit()

In [6]:
sql='select * from student'
c=conn.cursor()
c.execute(sql)

print(c.fetchone())

('학생2', 2, '안양', 'female')

In [7]:
for s in c.fetchmany(10):
    print(s)

('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')

## 실습 3-1
* student1 안에 데이터 7개 넣고,
  1. fetchmany(10)를 이용해 검색
  2. fetchall()을 이용해 검색

In [29]:
sql='''
 INSERT INTO student VALUES
 (?, ?, ?, ?)
'''

c=conn.cursor()

data=[
    ('학생6', 6, '서울', 'male'), 
    ('학생7', 7, '대전', 'female'), 
    ('학생8', 8, '인천', 'male'),
    ('학생9', 9, '강원', 'female'),
    ('학생10', 10, '경남', 'male'),
    ('학생11', 11, '경북', 'female'),
    ('학생12', 12, '전북', 'male')
]

c.executemany(sql, data)
c.close()
conn.commit()

In [30]:
c=conn.cursor()
sql='select * from student'
c.execute(sql)
for s in c.fetchmany(10):
    print(s)

('학생2', 2, '안양', 'female')
('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')
('학생6', 6, '서울', 'male')
('학생7', 7, '대전', 'female')
('학생8', 8, '인천', 'male')
('학생9', 9, '강원', 'female')
('학생10', 10, '경남', 'male')